*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: fixed;
    height: 750px;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    float: right;
    margin-right: 5%;
    padding-top: 1%;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.logo{
    margin: 1% 10%;
}
.title{
    font-size: 55px;
    font-weight: bold;
    }
.all-title{
    text-align: center;
    margin-top: 12%;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 60px;
}
#fsection{
    text-align: center;
}
#btn{
    background-color: #bde2dd;
    width: 150px;
    height: 50px;
    border: 2px solid #fac1be;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.btn2{
    color: #fac1be;
}
.team{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.sec2{
    text-align: center;
    height: 550px;
}
#ourteam{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #bde2dd;
    margin-top: 150px;
}
.prev,.next{
    margin-right: 25px;
    margin-left: 25px;
    color: #fac1be;
    cursor: pointer;
}
